.card {
  background: rgb(166, 245, 159);
  border-radius: 2px;
  height: 350px; 
  margin: 1rem; 
  position: relative; 
  width: 350px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  background: repeating-linear-gradient(
  45deg,
  #3D9970,
  #3D9970 10px,
  #cef1cb 10px, 
  #cef1cb 20px
);
}

.card > .img-container {
  height: 50%;
  /* overflow: hidden; */
  text-align: center;
  background:rgba(171, 245, 220, 0.867) DC; 
  margin: 20%;
}
.card > .img-container > img {
  width: 150%;
  height: 125%
}

/* .card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
} */ */

.card > .content > ul {
  list-style-type: none;
}

/* .card > .content > ul > li {
  margin-top: 0px;
} */
